---
layout: index
title: John Doe
tagline: aka nickname
---
{% include JB/setup %}


<!-- Change the "about information" contained in /_includes/themes/bootstrap/index.html  -->

  {% for post in site.posts %}

                <!-- Blog Post Template on Index page -->
                <h2>
                    <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a>
                </h2>
                <p class="lead">
                    Tagged under: {{post.tags | array_to_sentence_string}}
                </p>
                <p><span class="glyphicon glyphicon-time"></span> Posted on {{ post.date | date_to_string }}</p>
                <!-- <hr>
                <img class="img-responsive" src="http://placehold.it/900x300" alt=""> -->
                <hr>
		{{ post.excerpt }}                
                <a class="btn btn-primary" href="{{ BASE_PATH }}{{ post.url }}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

                <hr>

  {% endfor %}


